/* Resetear márgenes y ajustar la altura del cuerpo */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita desplazamiento horizontal */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Evitar que los componentes tengan márgenes extra */
  * {
    box-sizing: border-box;
  }
  
  /* Código fuente */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* Ajustar el contenido principal para que no se superponga con el Sidebar */
  .content {
    margin-left: 250px; /* Ajusta este valor si el sidebar es más ancho */
    padding: 20px;
    width: calc(100% - 250px);
    min-height: 100vh; /* Para que el contenido se expanda correctamente */
    transition: margin-left 0.3s ease-in-out;
    background-color: #f8f9fa; /* Color de fondo suave para diferenciar */
  }
  
  /* Ajuste opcional para que el contenido se vea mejor en pantallas pequeñas */
  @media (max-width: 768px) {
    .content {
      margin-left: 0; /* Si la pantalla es pequeña, ocupa todo el ancho */
      width: 100%;
    }
  }
  